Body{
  background-color: darkgray;
}
#fondo {
  height: 250px;
  width: 100%;
  text-align: center center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro{
  background-image: url( https://www.wallpaperkiss.com/wimg/b/112-1123213_big.jpg); 
}

.letrasIntro{
  color: azure;
}

.letrasFoto{
  color: #001F6C;
  display: inline-block;
  position: relative;
}

.fotoPerfil{
  height: 220px;
  width: 220px;
  border-radius: 50%;
  transition: 300ms;
  position: relative;
}

.fotoPerfil:hover{
  transform: scale(1.15);
}

.presentacion{
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo{
  text-align: center;
  background-color: #12BED6;
  border-radius: 10%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
}

.fondoSubtitulo{
  background-color: whitesmoke;
  text-align: center;
}

.espacio{
  height: 50px;
}

.fondoContacto{
  background-color: whitesmoke;
}

.imagenContacto{
  height: 70px;
  width: 70px;
  transition: 300ms;
  position: relative;
  width: 70%;
  height: 70%;
}

.imagenContacto:hover{
  transform: scale(1.30);
}

.ubicacion:hover{
  transform: scale(1.10);
}

.clickAqui:hover{
  transform: scale(1.10);
}

.imgProyecto:hover{
  transform: scale(1.10);
}

.imgProyecto{
  border-radius: 5%;
  transition: 300ms;
}

.subtitulo2{
  background-color: #7FCDD8;
  border-color: #7FCDD8;
  border-width: 3px;
  border-style: solid
}

.subtitulo3{
  background-color: white;
  border-color: #7FCDD8;
  border-width: 3px;
  border-style: solid;
}

.logo{
  height: 200px;
  width: 200px;
  max-width: 70%;
}

.ubicacion{
  border-radius: 15%;
  width: 70%;
  transition: 300ms;
}

.conocimientos{
  height: 120px;
  width: 500px;
  width: 10%;
  place-items: center;
  border-color: #7FCDD8;
  border-width: 3px;
  border-style: solid;  
  border-radius: 5%;
  background-color: white;
}

.imagenConocimiento{
  height: 75px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
}

.tabla{
  align-items: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  max-width: 1000px;
}

.menu{
  font-size: 100%;
  list-style: none;
  font-family: Arial, Helvetica;
  background-color: #005F6C;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.menu li a{
  text-decoration: none;
  color: white;
  padding: 15px;
  display: flex;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background: #001F6C;
}

.menuu{
  font-size: 100%;
  list-style: none;
  font-family: Arial, Helvetica;
  background-color: #005F6C;
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
}

.menuu li a{
  text-decoration: none;
  color: white;
  padding: 15px;
  display: flex;
}

.menuu li {
  display: inline-block;
  text-align: center;
}

.menuu li a:hover{
  background: #001F6C;
}

.CVfoto{
  border-radius: 10%;
  height: 100px;
  width: 50px;
  height: 100%;
  width: 50%;
  
}

.materias{
  height: 100px;
  width: 50px;
  height: 100%;
  width: 50%;
}

.estilo {
  font-size: calc(1em + 1vw) 
}

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 400px;
	height: 250px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen .imgModal {
	width: 700px;
	height: 120%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}


.imgCerrar{
  max-height: 35px;
  max-width: 100%;
  text-align: center center;
	padding:0px;
  margin-bottom: 10px;
	border-radius: 50%;
}

.descripcion{
  background-color: white;
	width: 700px;
  max-width: 100%;
	margin: auto;
	text-align: center center;
	padding:0px;
	justify-content: center;
	align-items: center;
}

.clickAqui{
  width: 25%;
  transition: 300ms;
}